@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');

.font-rubik-glitch {
    font-family: 'Rubik Glitch', cursive;
}

.font-reem-kufi {
    font-family: 'Reem Kufi', sans-serif;
}

.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #7e0101;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
  }

  